@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Fixes the white flash on page load and transitions */
body {
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  padding: 0;
}